In [47]:
import numpy as np
import pandas as pd

In [56]:
# Read the Dataset available from https://ibm.box.com/v/tabformer-data as a tar compressed file
data = pd.read_csv('Data/transactions.tar', compression='tar')

In [241]:
#Since the dataset is huge, sample the data due to computational restrictions
df = data.sample(n=1000, random_state=42)

In [242]:
# Data Analysis

df.isnull().sum()

User                0
Card                0
Year                0
Month               0
Day                 0
Time                0
Amount              0
Use Chip            0
Merchant Name       0
Merchant City       0
Merchant State     98
Zip               105
MCC                 0
Errors?           986
Is Fraud?           0
dtype: int64

In [243]:
#Fill missing values in the columns with Zero's
df['Merchant State'] = df['Merchant State'].fillna(0)
df['Zip'] = df['Zip'].fillna(0)

#Since the error, card # column is irrelevant for this use-case, we can drop the column
df.drop(columns='Errors?', inplace=True)

#Remove the $ symbol from the amount and change the datatype to numeric
df['Amount'] = df['Amount'].str.replace('$','', regex=False).astype(float)

#Rename the column 'Is Fraud?' to Fraud
df['Fraud'] = df['Is Fraud?']

In [244]:
df.isna().sum()

User              0
Card              0
Year              0
Month             0
Day               0
Time              0
Amount            0
Use Chip          0
Merchant Name     0
Merchant City     0
Merchant State    0
Zip               0
MCC               0
Is Fraud?         0
Fraud             0
dtype: int64

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 18199893 to 244041
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User            1000 non-null   int64
 1   Card            1000 non-null   int64
 2   Year            1000 non-null   int64
 3   Month           1000 non-null   int64
 4   Day             1000 non-null   int64
 5   Time            1000 non-null   object
 6   Amount          1000 non-null   float64
 7   Use Chip        1000 non-null   object
 8   Merchant Name   1000 non-null   int64
 9   Merchant City   1000 non-null   object
 10  Merchant State  1000 non-null   object
 11  Zip             1000 non-null   float64
 12  MCC             1000 non-null   int64
 13  Is Fraud?       1000 non-null   object
 14  Fraud           1000 non-null   object
dtypes: float64(2), int64(7), object(6)
memory usage: 125.0+ KB

In [223]:
df

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Is Fraud?
18199893,1470,0,2019,7,10,00:11,59.18,Chip Transaction,-6853385250336487907,Harwood,MD,20776.0,5813,No
9731325,822,1,2019,1,14,22:12,280.91,Online Transaction,4241336128694185533,ONLINE,0,0.0,4814,No
536687,41,3,2010,3,15,07:07,-144.00,Swipe Transaction,190253443608377572,Hemet,CA,92543.0,3359,No
13223840,1084,0,2015,9,20,14:58,6.76,Chip Transaction,-7837310524365334241,Littleton,CO,80122.0,5300,No
17070521,1384,0,2014,10,12,11:44,9.17,Swipe Transaction,-5023497618971072366,Gardner,KS,66030.0,5812,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9379848,802,2,2019,12,18,11:13,115.70,Chip Transaction,-7807051024009846392,Tarawa Terrace,NC,28543.0,3684,No
20373877,1659,3,2016,4,20,12:33,46.31,Chip Transaction,7231700044622779845,Cosby,TN,37722.0,5300,No
2281687,187,0,2014,8,9,08:05,6.96,Swipe Transaction,4722913068560264812,Walnut Creek,CA,94598.0,5411,No
22592070,1850,0,2008,7,28,17:00,88.90,Swipe Transaction,1139640404793641563,Naperville,IL,60565.0,5541,No
244041,17,2,2011,6,12,16:24,80.44,Online Transaction,2743403607688382462,ONLINE,0,0.0,4899,No